
<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">ловушка</h2>
  <div class="about-line"></div>
</div>
<div class="description">
  <div class="description-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dd146Npu_F0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="description-text">
    <div>О чем ты думаешь, когда остаёшься один на один с собой...?

      Впервые на театральной сцене Нижнего Новгорода эксперимент по соединению уличных и классических танцев с актерским мастерством.

      Мы покажем, на что способно наше восприятие, попробуем впустить вас в мир мыслей человека, которые им владеют.

      Никаких слов. Только танец, язык тела и эмоции.

    </div>
  </div>
</div>
