<div class="more">
  <div class="carusel-but" (click)="nextSlide('next')"><div class="triangle-left"></div></div>


  <div>
    <img class="more-img" src="../../assets/ choreographer/458A6319.jpg"/>
  </div>
  <div class="descr">
    <h3>АНАИТ ДИЛЕЛЯН</h3>
    ◾ Энергетика этой девушки сшибает с ног, а её танец завораживает всех зрителей, без исключения!<br>
    ◾8 лет занятия художественной гимнастикой сформировали спортивный характер, С 2006 года начала погружаться в уличную культуру. Стиль, который покорил ее сердце, - хип хоп.<br>
    ◾Хореграф танцевального спектакля "Ловушка"<br>
    ◾ "Через танец я отдыхаю, выражаю себя, могу играть в нем те роли и образы, которых в обычном общении со мной нельзя увидеть. Постановка танцевального спектакля - это для меня новый глоток воздуху, следующий этап развития. Я благодарна тем людям, которые это создают вместе со мной. Это неповторимый опыт и незабываемые эмоции."
  </div>
  <div class="carusel-but" (click)="nextSlide('before')"><div class="triangle-right"></div></div>
</div>
