<div class="contacts">

  <div class="contacts-person">
    <div class="about">
      <h2 class="about-heading">контакты</h2>
      <div class="about-line"></div>
    </div>
    <div class="person">
      <img class="label-photo" src="../../assets/ choreographer/458A6319.jpg" height="5760" width="3840"/>
      <div class="person-contacts">
        <div>Анаит Диленян</div>
        <div> 89103803180</div>
        <div>anait90@yandex.ru</div>
        <a href="https://vk.com/dilenjan"> https://vk.com/dilenjan</a>
        <a href="https://instagram.com/anaitdilenyan?igshid=hdh445h2rx6v">https://instagram.com/anaitdilenyan?igshid=hdh445h2rx6v</a>
      </div>

    </div>

    <div class="person">
      <img class="label-photo" src="../../assets/ choreographer/458A6319.jpg" height="5760" width="3840"/>
      <div class="person-contacts">
        <div>Анаит Диленян</div>
        <div> 89103803180</div>
        <div>anait90@yandex.ru</div>
        <a href="https://vk.com/dilenjan"> https://vk.com/dilenjan</a>
        <a href="https://instagram.com/anaitdilenyan?igshid=hdh445h2rx6v">https://instagram.com/anaitdilenyan?igshid=hdh445h2rx6v</a>
      </div>
    </div>
  </div>

<div class="contacts-social">
  <img class="contacts-social-img" src="../../assets/458A0885.jpg"/>
  <div class="about">
    <div class="about-line righ"></div>
    <h2 class="about-heading righ">социальные сети</h2>
    <div class="about-line righ"></div>
  </div>
  <div class="networks">
    <a class="networks-link" href="https://vk.com/oknodt" target="_blank"><img class="networks-link-img" src="../../assets/symbols/vk.svg"></a>
     <a class="networks-link" href="https://instagram.com/anaitdilenyan?igshid=hdh445h2rx6v" target="_blank"><img class="networks-link-img" src="../../assets/symbols/inst.svg"></a>
     <a class="networks-link" href="https://www.youtube.com/channel/UC2uH7rEfl5JuEaTdAK75xcw" target="_blank"><img class="networks-link-img" src="../../assets/symbols/Youtube.svg"></a>
   </div>
</div>
</div>

