<div class="about">
  <h2 class="about-heading">Социальный ролик</h2>
  <div class="about-line"></div>
</div>
<div class="social">
  <div class="social-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/LiI5yXoRc8k" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="social-text">Работая над сценарием для спектакля "Выход", мы задумались над множеством проблем,
    существующих в обществе. Мы
    хотели рассказать о том, что каждый день, просыпаясь утром и выходя из дома, в голове крутится одна и та же мысль:
    "неужели я стал героем фильма? Какой-то бесконечный день сурка!"
    Одно и то же, каждый день. Стандарты и ГОСТы на жизнь: будь таким, соответствуй, как все. Работа, короткий перерыв
    на обед, сон - схема дожить до очередного отпуска, необходимого чтобы наполнить страницы своей соцсети, алтаря
    псевдоиндивидуальности. Но для чего?
    Действительно ли нам нравится такая жизнь, или так просто... легче?
  </div>
</div>


<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">Репетиции</h2>
  <div class="about-line"></div>
</div>
<div class="repetition">
  <div class="repetition-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CIMNxKlFJlk" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="repetition-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/HPtfzhhVLaY" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="repetition-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oHvOncGL-nA" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="repetition-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/NVGXzjk-boU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <!--
<iframe width="560" height="315" src="https://www.youtube.com/embed/YyfwUwYrujw" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        -->
</div>

<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">новогоднее поздравление</h2>
  <div class="about-line"></div>
  <div class="repetition">
    <div class="newyear-video">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QnovPjPlxJA" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="newyear-video">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7ZHmkX_2U5o" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">WAFEst-2019</h2>
  <div class="about-line"></div>
</div>
<div class="wafest">
  <div *ngFor="let slide of slides"  (click)="showGallery()">
  <img class="wafest-img" src="{{slide.image}}"/>
  </div>
</div>
<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">кастинг</h2>
  <div class="about-line"></div>
</div>
<div class="casting">
  <div class="casting-video">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pVtH3RUmSkI" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="casting-img"><img class="casting-img-photo" src="../../assets/DSC00016.jpg"/></div>
</div>

<div *ngIf="gallery" class="back">
  <button class="bottt" (click)="showGallery()">
    <img class="butt-img" src="../../assets/symbols/1487086345-cross_81577.svg"></button>
  <div class="gallery">
    <app-calusel [slides]="slides" [counter]="slides[2].id"></app-calusel>
  </div>
</div>
