<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">выход</h2>
  <div class="about-line"></div>
</div>
<div class="description">
  <div class="description-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/wEstTWnt5IQ" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="description-text">
    <div>Человек и социум - вот о чем мы будем говорить!
      Наша история связана с одним человеком... Скажем одно, он неоспоримый виртуоз, истинный Мастер своего дела. И его
      работа стала новым «клише» и поглотила разум окружающих. Она изменила мир, став неотъемлемой его частью, тем самым
      обезличив лица и желания. Обнажила всю суть зацикленности нашей жизни и мыслей. А что же мастер? Он теперь стал в
      нем лишним...
    </div>
    <div> Идея и постановка: OK‘NO dance theatre</div>

    <div>Хореографы-постановщики: Алексей Харитонычев, Елизавета Князевич, Анаит Диленян, Лидия Кузнецова</div>

    <div>Танцоры: Иван Анисимов, Алексей Харитонычев, Елизавета Князевич,
      Анаит Диленян, Лидия Кузнецова, Аня Арефьева, Ирина Паршакова,
      Илья Данилов, Дарья Ткаченко, Ксения Зуйкова, Евгений Смирнов, Александр Чурбанов, Никита Бунтов
    </div>
    <a href="http://www.sobaka.ru/nn/entertainment/theatre/89535" target="_blank">Режиссеры спектакля «Выход» о том, как
      с нуля создать свой театр и донести смысл постановки без слов</a>
  </div>
</div>


<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">Дополнительно</h2>
  <div class="about-line"></div>
</div>
<div class="info">
  <div class="info-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/IXw8owCG61c" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="info-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/GEmE0ZmJ1ww" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">галерея</h2>
  <div class="about-line"></div>
</div>
<div class="galery">
  <div class="party">
    <img class="party-img" src="../../assets/exit/3aXZkPShhT4.jpg"/>
    <img class="party-img" src="../../assets/exit/yKhAZ-TYQBk.jpg"/>
    <img class="party-img" src="../../assets/exit/v94lLAEVPN0.jpg"/>
    <img class="party-img" src="../../assets/exit/V1rDmiDkSoI.jpg"/>
    <img class="party-img" src="../../assets/exit/RBTMG2TA1Q4.jpg"/>
    <img class="party-img" src="../../assets/exit/lrEZnt-QzDM.jpg"/>
    <img class="party-img" src="../../assets/exit/J1-NUljv2nU.jpg"/>
    <img class="party-img" src="../../assets/exit/hM78UHjTdHs.jpg"/></div>
</div>
<div *ngIf="more" (click)="MoreImg()" class="more-text"> показать еще</div>
<div *ngIf="!more" class="galery">
  <div class="party">
    <img class="party-img" src="../../assets/exit/hHqjoNAVqQ8.jpg"/>
    <img class="party-img" src="../../assets/exit/Gu_e0l_eZ_g.jpg"/>
    <img class="party-img" src="../../assets/exit/GBBDJQG3T18.jpg"/>
    <img class="party-img" src="../../assets/exit/DLDmglWpm-0.jpg"/>
    <img class="party-img" src="../../assets/exit/bp1hp-nrZ7U.jpg"/>
    <img class="party-img" src="../../assets/exit/_nAq2DIwgzg.jpg"/>
    <img class="party-img" src="../../assets/exit/-fnN0beCR40.jpg"/>
    <img class="party-img" src="../../assets/exit/5-fbatDOWaQ.jpg"/>
  </div>
</div>
