<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">выход</h2>
  <div class="about-line"></div>
</div>
<div class="description">
  <div class="description-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/wEstTWnt5IQ" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="description-text">
    <div>Человек и социум - вот о чем мы будем говорить!
      Наша история связана с одним человеком... Скажем одно, он неоспоримый виртуоз, истинный Мастер своего дела. И его
      работа стала новым «клише» и поглотила разум окружающих. Она изменила мир, став неотъемлемой его частью, тем самым
      обезличив лица и желания. Обнажила всю суть зацикленности нашей жизни и мыслей. А что же мастер? Он теперь стал в
      нем лишним...
    </div>
    <div> Идея и постановка: OK‘NO dance theatre</div>

    <div>Хореографы-постановщики: Алексей Харитонычев, Елизавета Князевич, Анаит Диленян, Лидия Кузнецова</div>

    <div>Танцоры: Иван Анисимов, Алексей Харитонычев, Елизавета Князевич,
      Анаит Диленян, Лидия Кузнецова, Аня Арефьева, Ирина Паршакова,
      Илья Данилов, Дарья Ткаченко, Ксения Зуйкова, Евгений Смирнов, Александр Чурбанов, Никита Бунтов
    </div>
    <a href="http://www.sobaka.ru/nn/entertainment/theatre/89535" target="_blank">Режиссеры спектакля «Выход» о том, как
      с нуля создать свой театр и донести смысл постановки без слов</a>
  </div>
</div>


<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">Дополнительно</h2>
  <div class="about-line"></div>
</div>
<div class="info">
  <div class="info-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/IXw8owCG61c" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="info-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/GEmE0ZmJ1ww" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">галерея</h2>
  <div class="about-line"></div>
</div>
<div class="galery">
  <div class="party">
    <!--       [class.selected]="slide === selectedSlide" (mouseenter)="onSelect(slide)"-->
    <div *ngFor="let slide of slides| slice:0:8" (click)="showGallery()">
      <img class="party-img" src="{{slide.image}}"/>
    </div>
  </div>
</div>
<div *ngIf="more" (click)="MoreImg()" class="more-text"> показать еще</div>
<div *ngIf="!more" class="galery">
  <div class="party">
    <div *ngFor="let slide of slides| slice:9" (click)="showGallery()">
      <img class="party-img" src="{{slide.image}}"/>
    </div>
  </div>
</div>
<div *ngIf="gallery" class="back">
  <button class="bottt" (click)="showGallery()">
    <img class="butt-img" src="../../assets/symbols/1487086345-cross_81577.svg"></button>
  <div class="gallery">
    <app-calusel [slides]="slides" [counter]="slides[2].id"></app-calusel>
  </div>
</div>
