.iu{
  left: 0;
}
.video-bg {
  height: 100vh;
  width: 90vw;
 // position: fixed;
 // top: 0;
  z-index: 4;
  background-size: cover;
  left: 0;
}

.about {
  position: absolute;
  z-index: 111;
  width: 30vw;
  background: linear-gradient(to right, rgba(254, 252, 234, 0.31), #f1f1f1);
  height:80vh;
  right: 0;
  top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description-text{
  margin:2vh 3vw;
  width: 25vw;
  font-size: 17px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;}
.oiiii{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.in-img{
  height: 10vh;
}
