<div class="iu">
  <div class="video-bg">
    <video width="100%" height="auto" preload="auto" autoplay="autoplay"
           loop="loop" poster="../../assets/party/458A0606.jpg">
      <source src="../../assets/saitVideo.mp4">
    </video>
  </div>
 <div class="about">
   <div class="description-text">
     <div>Коллектив танцевального театра OK’NO предоставляет вам и вашей фантазии возможность погрузиться в мифический
       мир древнего племени. Увидеть воплощение ритуала по избранию нового вождя, которым руководит шаман этого племени -
       Анансэ. Он же - паукообразное существо, способное отправить избранных в другой мир. Там они будут подвергнуты
       испытаниям, которые проверят их разум, волю и сердце. Им придётся столкнуться лицом к лицу со своими страхами,
       сделать выбор и решить, на что они готовы пойти ради короны нового вождя.

     </div>
     <div> Идея и постановка: OK‘NO dance theatre</div>

     <div>Хореографы-постановщики: Алексей Харитонычев, Анаит Диленян</div>

     <div>Танцоры: Иван Анисимов, Алексей Харитонычев, Елизавета Князевич,
       Анаит Диленян, Лидия Кузнецова, Аня Арефьева, Ирина Паршакова,
       Илья Данилов, Дарья Ткаченко, Ксения Зуйкова, Евгений Смирнов, Александр Чурбанов, Никита Бунтов
     </div>
   </div>
   <div class="oiiii"><img class="in-img" src="../../assets/symbols/instBlack.png">
     <img class="in-img" src="../../assets/symbols/vkBlack.png">
   </div>
  </div>
</div>


