<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">легенда анансэ</h2>
  <div class="about-line"></div>
</div>
<div class="description">
  <div class="description-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/aTWCyz782Cw" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="description-text">
    <div>Коллектив танцевального театра OK’NO предоставляет вам и вашей фантазии возможность погрузиться в мифический
      мир древнего племени. Увидеть воплощение ритуала по избранию нового вождя, которым руководит шаман этого племени -
      Анансэ. Он же - паукообразное существо, способное отправить избранных в другой мир. Там они будут подвергнуты
      испытаниям, которые проверят их разум, волю и сердце. Им придётся столкнуться лицом к лицу со своими страхами,
      сделать выбор и решить, на что они готовы пойти ради короны нового вождя.

    </div>
    <div> Идея и постановка: OK‘NO dance theatre</div>

    <div>Хореографы-постановщики: Алексей Харитонычев, Анаит Диленян</div>

    <div>Танцоры: Иван Анисимов, Алексей Харитонычев, Елизавета Князевич,
      Анаит Диленян, Лидия Кузнецова, Аня Арефьева, Ирина Паршакова,
      Илья Данилов, Дарья Ткаченко, Ксения Зуйкова, Евгений Смирнов, Александр Чурбанов, Никита Бунтов
    </div>
  </div>
</div>
<div class="about">
  <div class="about-line"></div>
  <h2 class="about-heading">Дополнительно</h2>
  <div class="about-line"></div>
</div>
<div class="extra">
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/_svTHI8-1oc" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
